@model TechStore.UI.MVC.Models.ContactViewModel


<div class="row">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder="Name:"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email:"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Subject" class="form-control" placeholder="Subject:"/>
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Message" rows="6" class="form-control" placeholder="Enter Message Here:"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-dark my-2" />
        </form>
    </div>
</div>

