@model IEnumerable<TechStore.DATA.EF.Models.Category>

@{
    ViewData["Title"] = "Home";
}
@section hero{


<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop the Tech Store!</h1>
        </div>
    </div>
</header>
}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">

            @foreach (var category in Model)
            {
                <a href="@Url.Action("ProductsTiled", "Products", new {categoryId=@category.CategoryId })" class="text-decoration-none text-dark">
                <div class="col mb-5">
                    <div class="card h-100 text-center">
                        <h5 class="fw-bolder mt-3">@category.CategoryName</h5>
                        <div class="card-body p-4">
                            @category.CategoryDescription
                        </div>
                    </div>
                </div>
                </a>
            }
        </div>
    </div>
</section>
